{
  "env": {
    "node": true,
    "browser": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "restParams": true,
    "spread": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "globalReturn": true,
  },
  "rules": {
    "global-strict": 0,
    "quotes": [2, "single"],
    "comma-dangle": 0,
    "camelcase": 0
  }
}
